* {
  box-sizing: border-box;
}

.form {
  display: block;
  margin: 0 auto;
  width: 20%;
  padding: 20px;
}

.board {
  display: none;
  margin: 0 auto;
  width: 40%;
  height: auto;
  padding: 10px;
  border: 2px solid grey;
}

.card {
  display: block;
  margin: 20px auto;
  width: 70%;
  height: auto;
  border: 2px solid black;
  background-color: lightgray;
}

.card__info {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
